<li class='item'>
  <div class='meta'>
    {{ partial "list/date" . }}
  </div>
  <header class='item-header'>
    <h3 class='item-title'>
      <a href='{{ .Permalink | relURL }}'>
        {{- .Title -}}
      </a>
    </h3>
<!--    <p class='item-summary'>-->
<!--       -->
<!--{{ .Summary }}{{ if .Truncated }}...<br/>-->
<!--          <a href='{{ .Permalink | relURL }}'>Continuer la lecture...</a>-->
<!--       {{ end }}</p>-->
  </header>

</li>
