<li class='item'>
  <header class='item-header'>
    <h3 class='item-title'>
      <a href='{{ .Permalink | relURL }}'>
        {{ partial "list/date" . }}{{- .Params.lieu -}}
      </a>
    </h3>
{{- .Content -}}
<!--    <p class='item-summary'>-->
<!--       -->
<!--{{ .Summary }}{{ if .Truncated }}...<br/>-->
<!--          <a href='{{ .Permalink | relURL }}'>Continuer la lecture...</a>-->
<!--       {{ end }}</p>-->
  </header>

</li>
